@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap');
/*        color: #18d254;*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right:  auto;
    padding: 0px; 
     
}

@media 
(min-width: 360px){
    .panel{
        border-color: white!important;
        
    }
    .pgCategoriasRowUm{
        text-align: center!important;
        margin-top: 3%;
    }
    .pgCategoriasRowDois{
        text-align: center!important;
        margin-top: 3%;
    }
  
    .lblTituloDescricao{
        font-size: 110%!important;
        color: #1849d2;
        font-weight: bold!important;
        
    }
    .lblTituloFavoritos{
        font-size: 110%!important;
        color: #1849d2;
        font-weight: bold!important;
        margin-left: 8%!important;
        
    }.btnFavoritos{
        font-size: 85%!important;
        margin-left: 7%!important;
    }
    #idDivTituloComMenuRelatorios{
        height: 33px;
        margin-top: -2%!important;
    }
    #idDivTituloSemMenuRelatorios{
        height: 33px;
        margin-top: -2%!important;
    }
    .lblTituloDescricaoViSualizar{
        font-size: 110%!important;
        color: #1849d2;
        font-weight: bold!important;
        margin-left: 20%!important;
        
    }
   
    .lblTituloResumoDoMes{
        font-size: 100%!important;
        font-weight: bold!important;
    }
    .jqplot-table-legend{
        display: none!important;
    }
    .grafico{
        height: 200px!important;
    }

    .container {
        max-width: 360px;
        margin: 0 auto;

    }
}




